{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.u-boot.ramdisk", "test.definition.git"] %}

{% set device_type = device_type|default("apq8016-sbc-uboot") %}
{% set job_name = job_name|default("apq8016-sbc-uboot - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/storage.kernelci.org/stable-rc/linux-4.14.y/v4.14.122-26-g12045d2235c0/arm64/defconfig/gcc-8/Image
      type: image
    ramdisk:
      url: https://images.validation.linaro.org/storage.kernelci.org/images/rootfs/buildroot/kci-2018.11/arm64/base/rootfs.cpio.gz
      compression: gz
    modules:
      url: http://images.validation.linaro.org/storage.kernelci.org/stable-rc/linux-4.14.y/v4.14.122-26-g12045d2235c0/arm64/defconfig/gcc-8/modules.tar.xz
      compression: xz
    dtb:
      url: http://images.validation.linaro.org/storage.kernelci.org/stable-rc/linux-4.14.y/v4.14.122-26-g12045d2235c0/arm64/defconfig/gcc-8/dtbs/qcom/apq8016-sbc.dtb
    os: oe
- boot:
    timeout:
      minutes: 5
    method: u-boot
    commands: ramdisk
    prompts:
      - '/ #'
- test:
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
{% endblock actions %}
