{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.monitors"] %}

{% set device_type = device_type|default("b-u585i-iot02a") %}
{% set job_name = job_name|default("b-u585i-iot02a - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: flasher
    images:
      tarball:
        url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/tf/stm/b-u585i-iot02a/b-u585i-iot02a_health-check_fw.tar.gz
- boot:
    method: minimal
- test:
    monitors:
    - name: "B-U5858I-IOT02A_Health_Check"
      start: "Board"
      end: "ok"
      pattern: "U5"
      fixupdict:
          '!': pass
          '': fail 
{% endblock actions %}
