{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal"] %}

{% set device_type = device_type|default("kv260") %}
{% set job_name = job_name|default("kv260 - health-check") %}
{% set job_timeout = job_timeout|default(3600) %}

{% block action_timeouts %}
  action:
    minutes: 60
  connection:
    minutes: 2
{% endblock action_timeouts %}

{% block context %}
context:
  test_character_delay: 30
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 20
    to: flasher
    images:
      boot:
        url: https://images.validation.linaro.org/github.com/wmamills/xilinx-lab-stuff/raw/master/recovery/recovery-boot.bin
      sd:
        url: https://images.validation.linaro.org/github.com/wmamills/xilinx-lab-stuff/raw/master/recovery/recovery-boot-sdcard.img.bz2
        compression: bz2
    os: oe
- boot:
    timeout:
      minutes: 2
    method: minimal
    prompts:
      - 'kria-recovery:'
    auto_login:
      login_prompt: 'login:'
      username: "root"
      password_prompt: 'Password:'
      password: "root"
{% endblock actions %}
