{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.monitors"] %}

{% set device_type = device_type|default("lpcxpresso55s69") %}
{% set job_name = job_name|default("lpcxpresso55s69 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 12
    to: flasher
    images:
      tarball:
        url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/tf/lpc55s69/health-check/lpcxpresso55s69-tfm.tar.bz2
- boot:
    method: minimal
- test:
    monitors:
    - name: "TF-M_Boot_Test"
      start: "Non-Secure system"
      end: "starting\\.{3}"
      pattern: "Non-Secure system starting\\.{3}"
      fixupdict:
          '!': pass
          '': fail
{% endblock actions %}
