{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.interactive", "deploy.usb", "test.docker.definition.inline", "test.docker.definition.git"] %}

{% set device_type = device_type|default("morello") %}
{% set job_name = job_name|default("morello - health-check") %}
{% set job_timeout = job_timeout|default(15 * 60) %}

{% block context %}
context:
  extra_nfsroot_args: ',vers=3'
  extra_kernel_args: rootwait
{% endblock context %}

{% block actions %}
- deploy:
    namespace: recovery
    to: flasher
    images:
      recovery_image:
        url: http://images-internal/people.linaro.org/~vishal.bhoj/morello-board-firmware.zip
        compression: zip
- boot:
    namespace: recovery
    timeout:
      minutes: 5
    method: minimal
    parameters:
      kernel-start-message: 'Booting Trusted Firmware'
    prompts: ['Press ESCAPE for boot options']
- test:
    namespace: recovery
    timeout:
      minutes: 5
    interactive:
    - name: uefi
      prompts: ["Device Manager"]
      script:
      - command: "\x1B\r\n"
- test:
    namespace: recovery
    timeout:
      minutes: 5
    interactive:
    - name: uefi-1
      prompts: ["init.sh"]
      script:
      - command: "\x1b[B\x1b[B\r\n\x1b[B\r\n"
- deploy:
    namespace: secondary_media
    timeout:
      minutes: 10
    to: usb
    os: oe
    images:
      image:
        url: http://images-internal/git.morello-project.org/api/v4/projects/39/jobs/132166/artifacts/android-nano.img.xz
        compression: xz
    uniquify: false
    device: usb_storage_device
    writer:
      tool: /bin/wget
      options: -O image.img {DOWNLOAD_URL} ; dd if=image.img of=/dev/sda obs=1M
      prompt: ["/ #"]
    tool:
      prompts: ['/ #']
- deploy:
    namespace: recovery
    to: flasher
    images:
      recovery_image:
        url: http://images-internal/git.morello-project.org/api/v4/projects/39/jobs/132166/artifacts/board-firmware.zip
        compression: zip
- boot:
    namespace: recovery
    timeout:
      minutes: 5
    method: minimal
    parameters:
      kernel-start-message: 'Booting Linux'
    prompts: ['console:/']
- test:
    namespace: test
    timeout:
      minutes: 5
    docker:
      image: git.morello-project.org:5050/morello/morello-ci-containers/morello-android-platform-tools
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: smoke-tests-basic-1
          description: "Basic system test command for Linaro Ubuntu images"
          os:
          - ubuntu
          scope:
          - functional
        run:
          steps:
          - export ANDROID_SERIAL
          - sleep 20
          - adb connect $ANDROID_SERIAL
          - adb devices
      from: inline
      name: smoke-tests-inline-1
      path: inline/smoke-tests-basic.yaml
- test:
    namespace: test
    timeout:
      minutes: 60
    docker:
      image: git.morello-project.org:5050/morello/morello-ci-containers/morello-android-platform-tools
    definitions:
    - repository: https://git.morello-project.org/morello/morello-ci-pipelines.git
      from: git
      path: lava/test-definitions/lldb/testdef.yaml
      name: lldb-test-run-2
      parameters:
        LLDB_TESTS_URL: "http://images-internal/git.morello-project.org/api/v4/projects/39/jobs/132166/artifacts/lldb_tests.tar.xz"
        TC_URL: "http://images-internal/git.morello-project.org/api/v4/projects/39/jobs/132159/artifacts/morello-clang.tar.xz"
        PLATFORM: soc
{% endblock actions %}
