{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.monitors"] %}

{% set device_type = device_type|default("mps") %}
{% set job_name = job_name|default("mps - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    to: flasher
    images:
      recovery_image:
        url: http://images-internal/mps/mps2_sse200_an512.tar.gz
        compression: gz
      test_binary_1:
        url: http://images-internal/mps/tfm_sign.bin
      test_binary_2:
        url: http://images-internal/mps/mcuboot.bin
- boot:
    method: minimal
    timeout:
      minutes: 4
    prompts:
    - "Secure image initializing"
- test:
    timeout:
      minutes: 10
    monitors:
    - name: "Non_Secure_Test_Suites"
      start: "Non-secure test suites summary"
      end: "End of Non-secure test suites"
      pattern: "[\x1b]\\[37mTest suite '(?P<test_case_id>[^\n]+)' has [\x1b]\\[32m (?P<result>PASSED|FAILED)"
      fixupdict:
         'PASSED': pass
         'FAILED': fail
{% endblock actions %}
