{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.interactive"] %}

{% set device_type = device_type|default("mt8192-asurada-rev1") %}
{% set job_name = job_name|default("mt8192-asurada-rev1 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
        minutes: 5
    to: flasher
    images:
        image:
            url: https://images.validation.linaro.org/people.linaro.org/~theodore.grey/trusted-firmware/asurada_tf-a-ci_golden_image.bin.gz
- boot:
    timeout:
        minutes: 2
    method: minimal
- test:
    timeout:
      minutes: 10
    interactive:
    - name: int_1
      prompts: ["Starting depthcharge on Asurada"]
      script:
      - command:
    - name: int_2
      prompts: ["This is a TF-A test build. Halting"]
      script:
      - command: 
{% endblock actions %}
