{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.interactive"] %}

{% set device_type = device_type|default("mt8195-cherry-tomato-r2") %}
{% set job_name = job_name|default("mt8195-cherry-tomato-r2 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
        minutes: 5
    to: flasher
    images:
        image:
            url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/chromebook/tomato/tomato_tf-a_golden_image.bin.gz
- boot:
    timeout:
        minutes: 2
    method: minimal
- test:
    timeout:
      minutes: 10
    interactive:
    - name: int_1
      prompts: ["Starting depthcharge on Tomato"]
      script:
      - command:
    - name: int_2
      prompts: ["This is a TF-A test build. Halting"]
      script:
      - command: 
{% endblock actions %}
