{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.interactive"] %}

{% set device_type = device_type|default("n1sdp") %}
{% set job_name = job_name|default("n1sdp - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    namespace: default
    timeout:
        minutes: 5
    to: flasher
    images:
        recovery_image:
            url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/n1sdp/n1sdp-board-firmware.zip
            compression: zip
- boot:
    namespace: default
    timeout:
        minutes: 5
    method: minimal
- boot:
    namespace: uart_one
    method: new_connection
    connection: uart1
    timeout:
        minutes: 5
- test:
    namespace: uart_one
    connection-namespace: uart_one
    timeout:
      minutes: 10
    interactive:
    - name: int_1
      prompts: ["Press ESCAPE for boot options"]
      script:
      - command:
{% endblock actions %}
