{% extends "base.jinja2" %}

{% set features = ["deploy.downloads", "deploy.flasher", "boot.u-boot.commands", "test.definition.inline"] %}

{% set device_type = device_type|default("rk3399-rock-pi-4b") %}
{% set job_name = job_name|default("rk3399-rock-pi-4b - health-check") %}
{% set job_timeout = job_timeout|default(3600) %}

{% block action_timeouts %}
  action:
    minutes: 60
  connection:
    minutes: 2
{% endblock action_timeouts %}

{% block actions %}
- deploy:
    to: downloads
    images:
      firmware:
        url: https://images.validation.linaro.org/trs/ts-firmware-rockpi4b.rootfs.wic.gz
        compression: gz
      os:
        url: https://images.validation.linaro.org/trs/ewaol-baremetal-image-ledge-secure-qemuarm64.rootfs.wic.gz
        compression: gz
      script:
        url: http://images.validation.linaro.org/trs/ts-merge-images.sh
    postprocess:
      docker:
        image: debian
        steps:
          - 'apt-get update'
          - 'apt-get install -qy fdisk gdisk'
          - 'fdisk -l ts-firmware-rockpi4b.rootfs.wic'
          - 'fdisk -l ewaol-baremetal-image-ledge-secure-qemuarm64.rootfs.wic'
          - 'bash ts-merge-images.sh ts-firmware-rockpi4b.rootfs.wic ewaol-baremetal-image-ledge-secure-qemuarm64.rootfs.wic'
          - 'fdisk -l ts-firmware-rockpi4b.rootfs.wic'
- deploy:
    to: flasher
    images:
      image:
        url: downloads://ts-firmware-rockpi4b.rootfs.wic
        partition: 6
        format: ext4
        overlays:
          lava: true
- boot:
    method: u-boot
    timeout:
      minutes: 10
    commands:
      # FIXME UUID changes on every new build
      - "efidebug boot add -b 1 BootEWAOL mmc 1:6 efi/boot/bootaa64.efi -i mmc 1:6 ledge-initramfs.rootfs.cpio.gz -s 'console=tty0 console=ttyS2,1500000 root=UUID=6091b3a4-ce08-3020-93a6-f755a22ef03b rootwait panic=60'"
      - "efidebug boot order 1"
      - 'echo "Starting kernel"; bootefi bootmgr'
    auto_login:
      login_prompt: 'login:'
      username: 'root'
    prompts:
      # FIXME change default hostname
      - "root@ledge-secure-qemuarm64:"
- test:
    timeout:
      minutes: 5
    definitions:
      - repository:
          metadata:
            format: Lava-Test Test Definition 1.0
            name: secure-boot
            description: "Test that Secure Boot is enabled"
            os:
              - linux-any
            scope:
              - functional
          run:
            steps:
              - lava-test-case "secure-boot-enabled" --shell test "$(efivar -d -n 8be4df61-93ca-11d2-aa0d-00e098032b8c-SecureBoot)" -eq 1
        from: inline
        path: secure-boot
        name: secure-boot
{% endblock actions %}
