{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal", "test.interactive"] %}

{% set device_type = device_type|default("sc7180-trogdor-lazor-limozeen") %}
{% set job_name = job_name|default("sc7180-trogdor-lazor-limozeen - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
        minutes: 5
    to: flasher
    images:
        image:
            url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/chromebook/lazor/lazor_tf-a-ci_golden_image.bin.gz
- boot:
    timeout:
        minutes: 5
    method: minimal
- test:
    timeout:
      minutes: 10
    interactive:
    - name: int_1
      prompts: ["Starting depthcharge on Lazor"]
      script:
      - command:
    - name: int_2
      prompts: ["This is a TF-A test build. Halting"]
      script:
      - command: 
{% endblock actions %}
