{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.musca", "test.interactive"] %}

{% set device_type = device_type|default("stm32mp15x-eval") %}
{% set job_name = job_name|default("stm32mp15x-eval - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 3
    to: flasher
    images:
      tarball:
        url: https://images.validation.linaro.org/people.linaro.org/~theodore.grey/NEWSTM/stm32mp1_ev1_tarball.tar.gz
      layout:
        url: https://images.validation.linaro.org/people.linaro.org/~theodore.grey/NEWSTM/FlashLayout_sdcard_stm32mp157c-health-check.tsv
    os: oe
- boot:
    timeout:
        minutes: 2
    method: minimal
- test:
    timeout:
      minutes: 3
    interactive:
    - name: int_1
      prompts: ["Hit any key to stop autoboot"]
      script:
      - command: 
{% endblock actions %}
