{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.musca"] %}

{% set device_type = device_type|default("stm32l562e-dk") %}
{% set job_name = job_name|default("stm32l562e-dk - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: flasher
    images:
      tarball:
        url: https://images.validation.linaro.org/people.linaro.org/~arthur.she/images/stm32l562e-dk/health-check/stm32l562e-dk_health-check_fw-tfm-script.tar.gz
- boot:
    timeout:
      minutes: 2
    method: musca
{% endblock actions %}
