{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.minimal"] %}

{% set device_type = device_type|default("xilinx-zcu102") %}
{% set job_name = job_name|default("xilinx-zcu102 - health-check") %}
{% set job_timeout = job_timeout|default(3600) %}

{% block action_timeouts %}
  action:
    minutes: 60
  connection:
    minutes: 2
{% endblock action_timeouts %}

{% block context %}
context:
  test_character_delay: 30
{% endblock context %}

{% block actions %}
- deploy:
    to: flasher
    images:
      image:
        url: https://people.linaro.org/~bill.mills/xilinx-images/rebuilt-2022.2-zcu102/zcu102-ext4.img.bz2
        compression: bz2
- boot:
    method: minimal
    timeout:
      minutes: 10
    auto_login:
      login_prompt: 'login:'
      username: 'root'
      login_commands:
        - ls -l /
        - stty 115200 </dev/ttyPS1
        - echo "HELLO from the 2nd UART" >/dev/ttyPS1
    prompts:
      - petalinux@(.*):[/~]\$
      - zcu102-zynqmp:[/~]\$
      - root@(.*):[/~]#
{% endblock actions %}
