{% extends 'lavafed/base.html' %}

{% block title %} - device types{% endblock %}

{% block nav_device_types %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4>Device Types</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>labs</th>
          <th>jobs</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in dts %}
        <tr>
          <td><a href="{% url "device_types.show" dt.name %}">{{ dt.name }}</a></td>
          <td>{{ dt.job__lab__count }}</td>
          <td>{{ dt.job__count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock body %}
