{% extends 'lavafed/base.html' %}
{% load static %}

{% block title %} - versions{% endblock %}

{% block nav_versions %}active{% endblock %}

{% block style %}
  .canvas {
    width: 80%;
  }
  .disabled {
    opacity: 0.1;
  }
{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>Versions</h1>

    <div class="mx-auto canvas">
        <canvas id="canvas"></canvas>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>version</th>
          <th>summary</th>
          <th>device-types</th>
          <th>jobs</th>
          <th>results</th>
        </tr>
      </thead>
      <tbody>
        {% for version in versions.object_list %}
        <tr>
          <td><a href="{% url 'versions.show' version.version %}">{{ version.version }}</a></td>
          {% if version.incomplete %}
          <td title="Incomplete"><i class="text-danger fas fa-exclamation-circle"></i></td>
          {% elif version.mismatch %}
          <td title="Mismatch"><i class="text-dark far fa-times-circle"></i></td>
          {% elif version.canceled %}
          <td title="Canceled"><i class="text-warning fas fa-ban"></i></td>
          {% elif version.unknown %}
          <td title="Unknown"><i class="text-secondary far fa-question-circle"></i></td>
          {% else %}
          <td title="Success"><i class=" text-success fas fa-check-circle"></i></td>
          {% endif %}
          <td>{{ version.job__dt__count }}</td>
          <td>{{ version.job_set.count }}</td>
          <td>
            <span class="badge badge-pill badge-success{% if not version.complete %} disabled{% endif %}">{{ version.complete }}</span> /
            <span class="badge badge-pill badge-danger{% if not version.incomplete %} disabled{% endif %}">{{ version.incomplete }}</span> /
            <span class="badge badge-pill badge-dark{% if not version.mismatch %} disabled{% endif %}">{{ version.mismatch }}</span> /
            <span class="badge badge-pill badge-warning{% if not version.canceled %} disabled{% endif %}">{{ version.canceled }}</span> /
            <span class="badge badge-pill badge-secondary{% if not version.unknown %} disabled{% endif %}">{{ version.unknown }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% if versions.has_previous %}
    <a href=".?page={{ versions.previous_page_number }}{% if "per_pages" in request.GET %}&per_pages={{ request.GET.per_pages }}{% endif %}" class="btn btn-info"><i class="fas fa-backward"></i> Previous</a>
  {% endif %}
  {% if versions.has_next %}
    <a href=".?page={{ versions.next_page_number }}{% if "per_pages" in request.GET %}&per_pages={{ request.GET.per_pages }}{% endif %}" class="btn btn-info float-right">Next <i class="fas fa-forward"></i></a>
  {% endif %}

  </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{% static "lavafed/js/chart-v2.7.2.min.js" %}"></script>
<script>
  var config = {
    type: 'line',
    data: {
      labels: [{% for version in versions reversed %}"{{ version.version }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
      datasets: [{
        label: 'Complete',
        borderColor: "#28a745",
        backgroundColor: "#28a745",
        data: [{% for version in versions reversed %}"{{ version.complete }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
      }, {
        label: 'Incomplete',
        borderColor: "#dc3545",
        backgroundColor: "#dc3545",
        data: [{% for version in versions reversed %}"{{ version.incomplete }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
      }, {
        label: 'Mismatch',
        borderColor: "#525865",
        backgroundColor: "#525865",
        data: [{% for version in versions reversed %}"{{ version.mismatch }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
      }, {
        label: 'Canceled',
        borderColor: "#ffc107",
        backgroundColor: "#ffc107",
        data: [{% for version in versions reversed %}"{{ version.canceled }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
      }, {
        label: 'Unknown',
        borderColor: "#cccccc",
        backgroundColor: "#cccccc",
        data: [{% for version in versions reversed %}"{{ version.unknown }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
      }]
    },
    options: {
      responsive: true,
      layout: {
        padding: 5,
      },
      tooltips: {
        mode: 'index',
      },
      hover: {
        mode: 'index'
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true
          }
        }],
        yAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            labelString: 'Jobs health'
          }
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };
</script>
{% endblock %}
